html{
	background-color: seagreen;
}
main{
	display: flex;
	justify-content: space-around;
}


.entrada-datos{
	background-color: lightcoral;
	width: 50%;
	height: 500px;
	padding: 20px;
	border-style: solid;
	border-radius: 10px;
	border-width: 3px;
	border-color: black;
}
.entrada{
	color: black;
	font-weight: bold;
	font-size: 20px;
	padding: 10px;
	background-color: whitesmoke;
	border-radius: 5px;
}
.caja1,.caja2{
	background-color: yellow;
}
.caja3{
	background-color: red;
}
.texto-encriptado{
	background-color: aliceblue;
	width: 50%;
	height: 500px;
	padding: 20px;
	border-style: solid;
	border-radius: 10px;
	border-width: 3px;
	border-color: black;

}
.botones{
	flex-direction: initial;
	color: black;
	font-weight: bold;
	font-size: 20px;
	background-color: white;
	border-style: none;
	border-radius: 7px;
	padding: 10px 10px;
	cursor: pointer;
	display: flex;

}
.botones:active{
	background-color: red;
	transform: scale(1.1);
	transition: default;

}
.imagen{
	width: 100%;
	height: 400px;
}